$icon-font-path: '../fonts/';

@font-face {
  font-family: "Railroad Gothic";
  src: url("fonts/RailroadGothic.ttf") format("ttf")
}

$background: #fff;

$navbar-height: 100px;
$navbar-default-bg: $background;
$navbar-default-border: $background;
$navbar-default-link-active-bg: $background;
$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;
$grid-gutter-width: 15px;
$container-large-desktop: (1000px + $grid-gutter-width);

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: $background;
  color: #000;
  padding: 0.2em 0;
}

.about {
  text-transform: uppercase;
  font-family: "Railroad Gothic";
  font-weight: bold;
  text-align: center;

  #sentence0 {
    letter-spacing: 8px;
    font-size: 30px;
  }
  #sentence1 {
    letter-spacing: -1px;
    font-size: 44px;
  }
  #sentence2 {
    letter-spacing: 7px;
    font-size: 28px;
  }
  #sentence3 {
    letter-spacing: 7px;
    font-size: 32px;
  }
  #sentence4 {
    letter-spacing: 4px;
    font-size: 29px;
  }
  #sentence5 {
    letter-spacing: 0px;
    font-size: 58px;
  }
}

.header {
  text-transform: uppercase;
  font-family: "Railroad Gothic";
  font-size: 22px;
  font-weight: bold;

  .active {
    letter-spacing: 4px;
  }

  .seperator {
    color: lighten(#777, 40%);
    font-size: 16px;
    line-height: 20px;
    padding: 0px 5px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {}
